@import "bootstrap-sprockets";
@import "bootstrap";

body {
     font-family: Raleway, sans-serif;
}

/* header */
#logo {
  float: left;
  margin-top: 1vh;
  margin-right: 10px;
  font-size: 1.7em;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: -1px;
  font-weight: bold;
}

#logo:hover {
  color: #fff;
  text-decoration: none;
}

@mixin box_sizing {
  -moz-box-sizing:    border-box;
  -webkit-box-sizing: border-box;
  box-sizing:         border-box;
}

h1 {
  text-align: center;
  margin: 10vh 0 2vh 0;
  font-weight: 700;
}

a {
  text-decoration-color: blue
}

input {
  height: auto !important;
}

#error_explanation {
  color: red;
  ul {
    color: red;
    margin: 0 0 30px 0;
  }
}

.field_with_errors {
  @extend .has-error;
  .form-control {
    color: $state-danger-text;
  }
}

.alert {
  margin: 10vh 0 2vh 0;
}